<!-- HEADER -->

<div class="row">
    <div class="col s12 flow-text relative">
        <img id="logo" class="responsive-img" src="{{APP_SERVICE_PATH}}/images/<%=img3%>">
        <div class="divider"></div>
    </div>
</div>

{{APP_TEMPLATE_CODE}}

<!-- FOOTER -->
<!-- this footer just add some space to facilitate reading -->
<div id="footer">
</div>