<div class="row">
	<div class="col s12">
		<h1>Oración para hoy</h1>
		<small><%= date %></small>

		<h2>Versículo</h2>
		<p><%= verse %></p>

		<h2>Oración</h2>
		<p><%= prayer %></p>
	</div>
</div>